<!--<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>-->
<html>
<title>First application</title>
<body bgcolor="gray">
<form method="get" action="first.html.erb">
<center>
<h1> HEllo this is the firt application</h1>
<h4>Hi this is the link </h4> <%=link_to "This is the link to first", posts_path %>
</center>
</form>
</body>
</html>

