<!DOCTYPE html>
<html>
<head>
  <title>Firstapplication</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<body style="background:aqua">

<%= yield %>

</body>
</html>
